<div class="bg-light px-4 py-3 text-uppercase font-weight-bold">
    Sipariş Özeti
</div>
<div class="p-4">
    <p class="font-italic mb-4">Ödeme sırasındaki seçimlere göre kargo ücreti eklenecektir</p>
    <ul class="list-unstyled mb-4" *ngIf="(basketTotal$ | async)">
        <li class="d-flex justify-content-between py-3 border-bottom">
            <strong class="text-muted">Sipariş Aratoplam</strong>
            <strong>{{(basketTotal$ | async).subtotal +"₺"}}</strong>
        </li>
        <li class="d-flex justify-content-between py-3 border-bottom">
            <strong class="text-muted">Kargo</strong>
            <strong>{{(basketTotal$ | async).shipping +"₺"}}</strong>
        </li>
        <li class="d-flex justify-content-between py-3 border-bottom">
            <strong class="text-muted">Toplam</strong>
            <strong>{{(basketTotal$ | async).total +"₺"}}</strong>
        </li>
    </ul>
</div>
