<div class="mt-4" [formGroup]="checkoutForm">
    <div class="row" formGroupName="deliveryForm">
        <div class="col-6 form-group" *ngFor="let item of deliveryMethod">
            <input type="radio" 
            class="custom-control-input"
            id={{item.id}}
            value={{item.id}}
            formControlName="deliveryMethod">
            <label for="{{item.id}}" class="custom-control-label">
                <strong>{{item.shortName}} - {{item.price +'TL'}}</strong>
                <br>
                <span class="label-decription">{{item.description}}</span>
            </label>
        </div>
    </div>
</div>
