<body class="text-center mt-5">
    
    <main class="form-signin w-100 m-auto">
      <form [formGroup]="this.loginForm" (ngSubmit)="this.onSubmit()">
        <h1 class="h3 mb-3 fw-normal">Lütfen Giriş Yapın</h1>
        
        <app-text-input formControlName="email" [label]="'Email adresiniz'" ></app-text-input>
        <app-text-input formControlName="password" [label]="'Şifreniz'" [type]="'password'" ></app-text-input>
        
        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"> Beni Hatırla
          </label>
        </div>
        <button [disabled]="loginForm.invalid" class="w-100 btn btn-lg btn-primary" type="submit">Giriş</button>
        <p class="mt-5 mb-3 text-muted">&copy;2022</p>
      </form>
    </main>
      </body>