<div  class="d-flex flex-column flex-md-row align-items-center justify-content-between p-3 px-md-4 mb-3 border-bottom shadow-sm fixed-top bg-white ">
   <img src="/assets/images/logo.png" style="max-height: 70px;" alt="logo">

    <nav class="my-2 my-md-0 mr-md-3">
      <a class="me-3 py-2 text-dark text-decoration-none" href="#">Anasayfa</a>
      <a class="me-3 py-2 text-dark text-decoration-none" href="#">Mağaza</a>
      <a class="me-3 py-2 text-dark text-decoration-none" href="#">Destek</a>
    </nav>
    
    <div class="d-flex align-items-center">
        <a class="position-relative"><i class="fa fa-shopping-cart fa-2x me-5" aria-hidden="true"></i>
          <div class="cart-no">5</div>
        </a>
        <a class="btn btn-outline-secondary me-2">Giriş</a>
        <a class="btn btn-outline-secondary me-3">Kayıt</a>
    </div>
   
  </div>